<!-- Section about the website-->
<h1>About Our Website</h1>

    <p>
       The Bookworm-Corner is a modern and user-friendly bookstore application that allows users to browse, search for, and buy a books. The application will offer a rich collection of books, easy navigation, 
       user authentication, and administrative functionalities to manage the book inventory.


    </p>
