<!DOCTYPE html>
<html>
<head>
    <title>Favorite Books</title>
</head>
<body>
    <h1>My Favorite Books</h1>
    <ul>
      {{#each user.favorites}}
        <li>
          <h2>{{this.book.title}}</h2>
          <p>Author: {{this.book.author}}</p>
          <p>Genre: {{this.book.genre}}</p>
          <p>Description: {{this.book.description}}</p>
        </li>
      {{/each}}
    </ul>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chance/1.0.3/chance.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<a id="fav" href="#">Add</a>

<ul id="list">
</ul>
</body>
</html>

