<main>
    <section class="search-section">
        <h2>Welcome to our Bookstore</h2>
        <p>Find your favorite books and explore a wide range of genres in BookWorm Store.</p>
        <div class="search-bar">
            <input type="text" placeholder="Search books...">
            <button id="search-btn">Search</button>
        </div>
    </section>

    <section class="featured-books">
        <h2>By Genre</h2>
        <div id="genre-list">
            <button>Action</button>
            <button>Adventure</button>
            <button>Comedy</button>
            <button>Drama</button>
            <button>Fantasy</button>
            <button>Horror</button>
            <button>Historical</button>
            <button>Mystery</button>
            <button>Romance</button>
            <button>Thriller</button>
            <button>Science fiction</button>
            <button>Western</button>
            <button>Other</button>
            
        </div>

    </section>
<div id="results-list" class="container d-flex flex-wrap align-items-center" >
    <div id="book-results"></div>
</div>
</main>

<script src="/js/genre.js"></script>