<main>
    <section class="search-section">
        <h2>Welcome to our Bookstore</h2>
        <p>Find your favorite books and explore a wide range of genres in BookWarm Store.</p>
        <div class="search-bar">
            <input type="text" placeholder="Search books...">
            <button>Search</button>
        </div>
    </section>

    <section class="featured-books">
        <h2>By Genre</h2>
        <div id="genre-list">
            <button>Action</button>
            <button>Comedy</button>
            <button>Fiction</button>
            <button>History</button>
        </div>

    </section>
<div id="results-list" class="container d-flex flex-wrap align-items-center" >
    <div id="book-results"></div>
</div>
</main>

<script src="/js/genre.js"></script>