    
   
          <div class="about">
             <h2>About Our Website</h1>
    <p>
       The Bookworm-Corner is a modern and user-friendly bookstore application that allows users to browse, search for, and buy a books. The application will offer a rich collection of books, easy navigation, 
       user authentication, and administrative functionalities to manage the book inventory.

    </p>
  </div>
          <image class="bookImg" src="https://www.downloadclipart.net/large/transparent-magic-book-png.png" alt=" Blue books">
          <section class="userBox">
     
            <h2>Login to Your Corner Fellow Bookworm 📚</h2>
        
            <form class="form login-form">
              <div class="form-group">
                <label for="email-login">Email:</label>
                <input class="form-input" type="text" id="email" />
              </div>
              <div class="form-group">
                <label for="password-login">Password:</label>
                <input class="form-input" type="password" id="password" />
              </div>
              <div class="form-group">
                <button class="btn btn-primary" type="submit">Start Reading</button>
              </div>
            </form>
          </section>

          <image class="bookImg" src="https://www.seekpng.com/png/full/10-106614_magic-png.png" alt="brown books">
          
          <section class="userBox">
            <h2>If You're New, Signup Here ✍️</h2>
        
            <form class="form newUser-form">
              <div class="form-group">
                <label for="username">Name:</label>
                <input class="form-input" type="text" id="username" />
              </div>
              <div class="form-group">
                <label for="new-email">Email:</label>
                <input class="form-input" type="text" id="new-email" />
              </div>
              <div class="form-group">
                <label for="new-pass">Password:</label>
                <input class="form-input" type="password" id="new-pass" />
              </div>
              <div class="form-group">
                <button class="btn btn-primary" type="submit">Welcome Newcomer</button>
              </div>
            </form>
          </section>
        
        
        <script src="./js/login.js"></script>