/* Reset  margin and padding */
body, h1,  h3, p, ul {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;

    
      background-image: url("https://wallpapertag.com/wallpaper/full/b/9/5/126747-top-library-background-1920x1202.jpg"); 
      background-size: cover; 
      background-repeat: no-repeat; 
 
  }
  
  header {
    background-color: #1E90FF; 
    color: white;
    padding: 30px;
    text-align: center;
  }
  
  h1 {
    color: white;
   
  }

  h2{
    color: antiquewhite;
  }
  header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  header nav ul li {
    display: inline;
    margin-right: 15px;
  }
  
  header nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  footer {
    background-color: #1E90FF; /* Dodger Blue */
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  /* Sample styling for links */
  a {
    color: #1E90FF; /* Dodger Blue */
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  


  
  /* Sample styling for a button */
  .button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #1E90FF; /* Dodger Blue */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #005BB5; /* Slightly darker blue on hover */
  }
  
  .search-section {
margin-bottom: 125px;
    color: rgba(237, 220, 220, 0.713);
    
  }